<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="cabecalho">
        <div class="cabecalho-interno">

            <a href="index.html" class="logo-link">
                <img src="../img/logo.png" alt="iGES" class="logo-imagem" />
            </a>

            <nav class="nav-principal">
                <a href="index.html" class="nav-link ativo">Home</a>

                <div class="nav-item-dropdown">
                    <button class="nav-link btn-dropdown">Definições</button>
                    <div class="menu-dropdown">
                        <a href="governanca.html">Governança</a>
                        <a href="enquadramento.html">Enquadramento</a>
                        <a href="indice.html">Índice iGES</a>
                    </div>
                </div>

                <a href="iges.html" class="nav-link">iGES</a>
                <a href="equipe.html" class="nav-link">Sobre a Equipe</a>
            </nav>

            <div class="nav-acoes">

                <div id="visitante-links" class="grupo-acoes">
                    <a href="login.html" class="btn-login">Fazer Login</a>
                    <a href="cadastro.html" class="btn-cadastro">Cadastre-se</a>
                </div>

                <div id="usuario-logado" class="grupo-acoes" style="display: none;">
                    <div class="usuario-dropdown">
                        <button class="btn-avatar" id="btnAvatarMenu">
                            <img src="../img/default-avatar.png" alt="Foto do Usuário" class="avatar-img"
                                id="fotoUsuarioHeader">
                        </button>
                        <div class="menu-dropdown-user" id="dropdownUsuario">
                            <div class="dropdown-header">
                                <span id="nomeUsuarioHeader">Nome do Usuário</span>
                            </div>
                            <hr>

                            <a href="dashboard.html">Página do Usuário</a>
                            <hr>
                            <button id="btnSair" class="btn-logout">Sair</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <main id="mainlogin">
        <img src="../img/fundo loginregistro.png" alt="Simbolo do iGES e grafico gerado dele" class="fundo-login">
        <div class="divLogin">
            <form>
                <section class="formLogin">
                    <label for="username">Usuário</label>
                    <input type="text" id="usernameLogin" required>
                    <p id="erro-login" style="color: red; display: none; margin-bottom: 8px;">O usuário deve conter '@'
                    </p>
                </section>
                <section class="formLogin">
                    <label for="password">Senha</label>
                    <input type="password" id="passwordLogin" required>
                    <p id="erro-senha" style="color: red; display: none; margin-bottom: 8px;">A senha deve ter pelo
                        menos 8 caracteres.</p>

                </section>
                <section class="formLogin_checkbox">
                    <div class="checkbox-group">
                        <input type="checkbox" id="rememberMeLogin">
                        <label for="rememberMeLogin">Lembrar-me</label>
                    </div>
                    <a href="cadastro.html">Não tem uma conta? Cadastre-se</a>
                </section>
                <button type="submit" id="botaoLogin">Entrar</button>
            </form>
        </div>
    </main>

    <script src="../js/Login.js"></script>
</body>

</html>